$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts"; 

// breakpoints
$smallDevice : 320px;
$mediumDevice : 475px;
$highDevice : 768px;
$desktops : 1024px;
$largeDesktops :1280px;
$widescreen : 1600px;